# =============================================================================
# OrcaQ — Environment Variables
# Copy this file to .env and customize as needed
# =============================================================================

# --- OrcaQ Application ---
ORCAQ_PORT=9432


# --- Analytics (optional) ---
# NUXT_AMPLITUDE_API_KEY=

# --- Public links (optional) ---
# NUXT_GG_FORM_LINK=
# NUXT_GITHUB_LINK=https://github.com/cin12211/orca-q
