html,
body {
  height: 100vh;
  margin: 0; /* Remove default margins */
  overflow: hidden; /* Disable scrolling */
  border-radius: 0.5rem;
}

::placeholder {
  opacity: 0.5;
}

.dark ::placeholder {
  opacity: 0.8;
}
