/* @import url('./fonts/satoshi/satoshi.css');
@import url('./fonts/alpino/alpino.css');
@import url('./fonts/generalSans/general-sans.css'); */

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0; /* Remove default margins */
  overflow: hidden; /* Disable scrolling */
  border-radius: 0.5rem;

  /* font-family: 'Alpino-Variable', sans-serif; */

  /* font-family: 'Open Sans', sans-serif; */
}

::placeholder {
  opacity: 0.3;
}

.dark ::placeholder {
  opacity: 0.6;
}

/* config allow drag app */
.electron-drag-region {
  -webkit-app-region: drag;
  app-region: drag;
}

button {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}
