.vue-flow__minimap {
  transform: scale(75%);
  transform-origin: top right;
}

.erd-flow {
  background-color: #edf2f7;
  height: 100%;
  width: 100%;
}

.vue-flow__edge-path {
  stroke-width: 1.5;
}

.vue-flow__node {
  background-color: #f3f4f6;
}

.vue-flow__node-value {
  display: flex;
  align-items: center;
  gap: 8px;

  border-radius: var(--radius);
  box-shadow: var(--shadow-xl);
}

.vue-flow__node-value.selected {
  box-shadow: 0 0 0 6px var(--color-gray-300);
}
