.vue-flow__minimap {
  transform: scale(75%);
  transform-origin: bottom right;
}

.erd-flow {
  background-color: #edf2f7;
  height: 100%;
  width: 100%;
}

.vue-flow__edges path {
  stroke-width: 3;
}

.vue-flow__node {
  background-color: #f3f4f6;
}

.vue-flow__node-value {
  display: flex;
  align-items: center;
  gap: 8px;

  border-radius: var(--radius);
  box-shadow: 0 0 10px #0003;
}

.vue-flow__node-value.selected {
  box-shadow: 0 0 0 2px var(--muted-foreground);
}
/* 
.vue-flow__edge-path {
  
    stroke-width: 2 !important;

  
} */