.vue-flow__minimap {
  transform: scale(75%);
  transform-origin: top right;
}

.erd-flow {
  background-color: rgb(251, 251, 251);
  height: 100%;
  width: 100%;
}

/* node */
.vue-flow__node {
  background-color: #f3f4f6;
}

.vue-flow__node-value {
  border-style: var(--tw-border-style);
  border-width: 1px;

  border-radius: var(--radius);
  box-shadow: var(--shadow-xl);
}

.vue-flow__node-value.selected {
  border: 1px solid var(--color-primary);

  box-shadow: 0 0 1.125rem 0 var(--color-primary) !important;
}

.vue-flow__node-value:hover {
  box-shadow: 0 0 0.75rem 0 var(--color-primary);
}

/* edge */
.vue-flow__edge-path {
  stroke-width: 1.5;
}

.vue-flow__edge-interaction {
  stroke-width: 3;
}
